<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
        <div id="start2">
            <p class="start">Энергопотребление</p>
            {% if cost is not none %}
            <p class="input" type="text">{{ cost }}</p>
            {% else %}
            <p class="input" type="text"></p>
            {% endif %}
        </div>
      <div id="start2">
            <p class="start">Стоимость за период</p>
            {% if totalscore is not none %}
            <p class="input" type="text">{{ totalscore }}</p>
            {% else %}
            <p class="input" type="text"></p>
            {% endif %}
      </div>
</html>