<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{user}}</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

      body {
          background-color: #E9E9E9;
          font-family: 'Inter', sans-serif;
      }

      #user {
        width: 450px;
        height: 50px;
        background: white;
        border-radius: 25px;
        float: right;
        margin-top: 1%;
        margin-right: 1%;
        display: flex;
      }
    </style>
  </head>
  <body>
    <div id="user">
      <img style="margin-left: 15px;" src="{{ url_for('static', filename='images/rename.png') }}" alt="" srcset="">
      <p style="margin-top: 14px; margin-left: 25%; font-size: 20px;">{{user}}</p>
    </div>



    <!-- <p class="acInfo">Stat {{user}}</p> -->

    <!-- <img class="graph" src="data:image/png;base64,{{ img_url }}" /> -->
  </body>
</html>
